#!/bin/sh
#SBATCH --job-name=JOB_NAME
#SBATCH --output=DIR_PATH/JOB_NAME.%j.out
#SBATCH --partition=caslake
#SBATCH --account=pi-andrewferguson
#SBATCH --mail-type=ALL
#SBATCH --time=24:00:00
#SBATCH --ntasks-per-node=1  # number of tasks
#SBATCH --cpus-per-task=16    # number of threads per task


module load python
conda activate /project/andrewferguson/Kirill/env_kirill

/project/andrewferguson/Kirill/env_kirill/bin/python -u run_optim.py ARGS_PATH